[client]
socket=/vdb/mysqlstorage/mysql/mysql.sock
[mysqld]
datadir=/vdb/mysqlstorage/mysql
socket=/vdb/mysqlstorage/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

innodb_flush_method	= O_DSYNC
innodb_log_files_in_group=4
innodb_buffer_pool_instances=2
enforce_gtid_consistency=ON
gtid_mode		=ON
innodb_data_file_path=ibdata1:128M:autoextend
innodb_page_cleaners	=2
innodb_stats_include_delete_marked=ON
server-id		=1
log_timestamps		=SYSTEM
lower_case_table_names	=1
performance_schema	=OFF
slow_query_log		=ON
#slow_query_log_file=
innodb_file_per_table	=ON
innodb_flush_neighbors	=0
disabled_storage_engines=myisam,memory
expire_logs_days=1
block_encryption_mode=aes-128-cbc
max_connections		=648
max_allowed_packet	= 1073741824

# Add settings for extensions here
innodb_buffer_pool_size	= 7516192768
innodb_log_file_size	= 3221225472
query_cache_limit	= 1073741824
query_cache_size	= 2147483648
read_rnd_buffer_size	= 1073741824
read_buffer_size	= 536870912
innodb_log_buffer_size	= 536870912
join_buffer_size 	= 536870912
innodb_sort_buffer_size	= 536870912
sort_buffer_size	= 536870912
tmp_table_size		= 536870912
max_heap_table_size	= 536870912

back_log		=3000
host_cache_size		=1000
innodb_open_files	=6000
open_files_limit	=600000
innodb_io_capacity	=20000
thread_cache_size	=200
innodb_max_dirty_pages_pct=75
innodb_write_io_threads	=4
innodb_read_io_threads	=4

innodb_purge_threads=1
query_cache_type	=1
